<div class="span8">
	<div class="well sidebar-nav" >
		<h2>Manage Part</h2>
		<%= link_to "Manage User", manage_users_path, :class => "btn btn-success"%>
		<%= link_to "Manage Post", manage_posts_path, :class => "btn btn-warning"%>
		<%= link_to "Manage Comment", manage_comments_path, :class => "btn btn-info"%>
	</div>
</div>