<div class="span3">
  <div class="well sidebar-nav" style=" height : 600px;">
    <ul class="nav nav-list">
      <li class="nav-header">Hello! <%= current_user.firstname %></li>
      <li><div><%= image_tag current_user.avatar.url(:medium), :id=>"display"%></div></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
