<div class="span3">
  <div class="well sidebar-nav" style=" height : 500px;">
    <ul class="nav nav-list">
      <li class="nav-header">Hello! @current_user.first_name</li>
      <li>@display picture </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
