<div class="span8">
	<div class="well sidebar-nav">
		<%= render :partial => "partial/new_post" %>
	</div>

	<div id="posts">
		<%= render :partial => 'partial/post', :locals => { :posts => @feeds } %>
	</div>

	<div style="padding-left: 270px;" >
		<a href="/posts?page=<%=@next_page%>" id="more_posts" class="btn btn-primary">Moooore</a>
	</div>
</div>

